@import 'jeet'
@import 'nib'

html, body
  height: 100%
  span(1)
  a
    text-decoration: none

#wrapper
  font-family: 'Raleway', sans-serif
  #header
    height: 60px
    span(1)
    position: fixed
    #logo
      center(960)
      text-align: center
      font-size: 40px
      color: blue 
    #navigater
      margin-top: 10px
      center(960)
      text-align: center
      background-color: #ffffff
      a
        color: #0a64a4
        cursor: pointer
        margin: 5px
        &:active
          color: black
  .page
    height: 600px
    background-color: #f1f1f1
    border-bottom: 2px solid
    .about_info
      font-size: 20px
      padding-top: 10%
      center(540px)


