doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
    link(rel='stylesheet', href='./bower_components/normalize.css/normalize.css')
    link(rel='stylesheet', href='./styles/main.css')
    link(rel='stylesheet', href='./bower_components/animate.css/animate.min.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
  body
    #wrapper
      #header
        #logo Software Engineering Lab
        #navigater
          tr
            td
              a.hvr-underline-from-center(href='#professor' du-smooth-scroll) 指導教授
            td
              a.hvr-underline-from-center(href='#labmates' du-smooth-scroll) 實驗室成員
            td
              a.hvr-underline-from-center(href='#research' du-smooth-scroll) 研究計畫
            td
              a.hvr-underline-from-center(href='#se-courses' du-smooth-scroll) 2014軟體工程實務課程
            td
              a.hvr-underline-from-center(href='#open-courses' du-smooth-scroll) 開授課程
            td
              a.hvr-underline-from-center(href='#about-us' du-smooth-scroll) 聯絡我們
      #professor.page
      #labmates.page
        .mates-list
          .mates
            .title Master
            .mate
              .mate-img
                img
              .mate-info 
                | Name: 林孝融
                br
                | E-mail: smilecatx3@gmail.com
          .mates
            .mate
              .mate-img
                img
              .mate-info 
                | Name: 羅立翔
                br
                | E-mail: roraibar@gmail.com
            .mate
              .mate-img
                img
              .mate-info 
                | Name: 陳昱成
                br
                | E-mail: mooc0102@yahoo.com.tw
      #research.page
        table
          tr
            td 計劃名稱
            td 起訖日期
            td 補助單位
            td 擔任角色
          tr
            td 大型軟體系統程式碼視覺化分析
            td 2014.01 ~ 2014.12
            td 資策會
            td 計畫主持人
          tr
            td 程式碼氣味偵測與測試案例重構之研究
            td 2014.08 ~ 2015.07
            td 國科會
            td 計畫主持人
      #se-courses.page
      #open-courses.page
        .courses-list
          .course
            .course-name Software Design
            a.open-year.hvr-pop(target='_blank' href='http://class-qry.acad.ncku.edu.tw/syllabus/online_display.php?syear=0102&sem=1&co_no=P76F500') 2013 Fall
            a.open-year.hvr-pop(target='_blank' href='http://class-qry.acad.ncku.edu.tw/syllabus/online_display.php?syear=0103&sem=1&co_no=P76F500') 2014 Fall
          .course
            .course-name Java Software Delelopment
            a.open-year.hvr-pop(target='_blank' href='http://class-qry.acad.ncku.edu.tw/syllabus/online_display.php?syear=0102&sem=2&co_no=F722700') 2014 Spring
          .course
            .course-name Software Engineering
            a.open-year.hvr-pop(target='_blank' href='http://class-qry.acad.ncku.edu.tw/syllabus/syllabus.php?syear=0101&sem=2&co_no=F731700') 2013 Spring
      #about-us.page
        .about-contain
          img.map(src='http://140.116.154.120/home/images/map_full.jpg')
          .about-info
            .address.title-text
              | Address: 
              .content-text 台南市 東區 大學路1號 國立成功大學 成功校區 資訊系新館65912室
            .email.title-text
              | Email:
              .content-text selab@mail.csie.ncku.edu.tw
            .tel.title-text
              | Tel:
              .content-text 886-6-2757575　ext 62520　ext 2912



  script(src='./bower_components/skrollr-stylesheets/dist/skrollr.stylesheets.min.js')
  script(src='./bower_components/anijs/dist/anijs-min.js')
  script(src='./bower_components/anijs/dist/helpers/scrollreveal/anijs-helper-scrollreveal-min.js')
  script(src='./bower_components/skrollr/dist/skrollr.min.js')
  script(src='./bower_components/skrollr-menu/dist/skrollr.menu.min.js')
  script(src='./scripts/main.js')
