doctype html
html(ng-app='SELab')
  head
    link(rel='stylesheet', href='./styles/main.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
  body(ng-controller='PageController')
    #wrapper
      #header
        #logo Software Engineering Lab
        #navigater
          tr
            td
              a(href='#professor' du-smooth-scroll) 指導教授
            td
              a(href='#labmates' du-smooth-scroll) 實驗室成員
            td
              a(href='#research' du-smooth-scroll) 研究計畫
            td
              a(href='#se_course' du-smooth-scroll) 2014軟體工程實務課程
            td
              a(href='#open_course' du-smooth-scroll) 開授課程
            td
              a(href='#about_us' du-smooth-scroll) 聯絡我們
      #professor.page
      #labmates.page
        .mate-list
          .mate(ng-repeat='mate in labmates')
            .mate-img
              img
            .mate-info 
              | Name: {{mate.name}}
              br
              | E-mail: {{mate.email}}
      #research.page
      #se_course.page
      #open_course.page
      #about_us(ng-controller='AboutController as aboutCtrl').page
        .about_info
          .address.title-text
            | Address:
            .content-text {{about_info.address}}
          .email.title-text
            | Email:
            .content-text {{about_info.email}}
          .tel.title-text
            | Tel:
            .content-text {{about_info.tel}}



  script(src='./bower_components/angular/angular.min.js')
  script(src='./bower_components/angular-scroll/angular-scroll.min.js')
  script(src='./scripts/main.js')
